body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

header {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1, h2 {
    margin: 0;
}

#event-info {
    margin-bottom: 20px;
}

#event-description {
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

#buttons {
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

img{
    border: solid black 5px;;
}